NEXT_PUBLIC_SUPABASE_URL=https://sjelolsbphxnhzlmqcrq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
# You can use this instead of NEXT_PUBLIC_SUPABASE_ANON_KEY if your Supabase project shows a publishable key.
# NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
